<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Dashboard - AlphaDeck</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>
<%- include('../partials/nav') %>

<main class="center shadow">

    <h1 class="quiet">DASHBOARD</h1>

</main>

<%- include('../partials/footer') %>
</body>
</html>