<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Not Found - AlphaDeck</title>
    <%- include('../partials/imports') %>
</head>
<body>
<%- include('../partials/nav') %>

<main class="center shadow">

    <h1 class="quiet" style="margin-bottom: 0">NOT FOUND</h1>
    <p class="quiet" style="font-size: 1rem">The page you requested could not be found</p>

</main>

<%- include('../partials/footer') %>
</body>
</html>