<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Sign Up - AlphaDeck</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>

<main class="center shadow">

    <div class="auth-box extra-padd">

        <div class="center-content">
            <img src="/public/images/logo.png" alt="logo" class="brand-img simple">
        </div>

        <h1 class="heading" style="margin-bottom: 0">Create account</h1>
        <p class="t-mid">An AlphaDeck account will allow you to buy and share stocks</p>

        <br>

        <label class="input">
            <span>First Name:</span>
            <input type="text" name="firstName">
        </label>

        <label class="input">
            <span>Last Name:</span>
            <input type="text" name="lastName">
        </label>

        <label class="input">
            <span>Username:</span>
            <input type="text" name="username">
        </label>

        <label class="input">
            <span>Email:</span>
            <input type="email" name="email">
        </label>

        <label class="input">
            <span>Password:</span>
            <input type="password" name="password">
        </label>

        <br>

        <button class="primary filled" onclick="signup(this)">Create Account</button>

        <br>

        <p class="t-mid login-alt">Already have an account? <a href="/login">Log In</a> instead.</p>

    </div>

</main>

<script>
    function signup(btn){
        let btnState = Tools.ButtonStateSwapper(btn);
        btnState.setLoading();

        let uid = $('[name="username"]').get(0);
        let pwd = $('[name="password"]').get(0);

        $.post("/api/do-signup",{
            username : uid.value,
            password : pwd.value,
            CSRF_Token : Tools.csrfToken()
        }, res => {
            btnState.reset();
            if (res.isSuccessful){
                location.href = "/";
            }
            else{
                let modal = new XModal(res.message, res.title, XModalType.ALERT);
                modal.open({
                    okayBtn : {
                        text : "Okay",
                        type: XModalButtonType.PRIMARY
                    }
                });
            }
        });

    }
</script>

<%- include('../partials/footer') %>
</body>
</html>