<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/meta') %>
    <title>Sign Up - AlphaDeck</title>
    <%- include('../partials/imports') %>
    <link rel="stylesheet" href="/public/styles/login.css">
</head>
<body>

<main class="center shadow">

    <div class="auth-box extra-padd">

        <div class="center-content">
            <img src="/public/images/logo.png" alt="logo" class="brand-img simple">
        </div>

        <h1 class="heading" style="margin-bottom: 0">Create account</h1>
        <p class="t-mid">An AlphaDeck account will allow you to buy and share stocks</p>

        <br>

        <label class="input">
            <span>First Name:</span>
            <input type="text" name="firstName">
        </label>

        <label class="input">
            <span>Last Name:</span>
            <input type="text" name="lastName">
        </label>

        <label class="input">
            <span>Username:</span>
            <input type="text" name="username" minlength="4">
            <i class="fas fa-exclamation-triangle"></i> <span class="err-msg">Username length must be more than 3</span>
        </label>

        <label class="input">
            <span>Email:</span>
            <input type="email" name="email">
            <i class="fas fa-exclamation-triangle"></i>
        </label>

        <label class="input">
            <span>Password:</span>
            <input type="password" name="password" minlength="6">
            <i class="fas fa-exclamation-triangle"></i> <span class="err-msg">Password length must be more than 5</span>
        </label>

        <br>

        <button class="primary filled" onclick="signup(this)">Create Account</button>

        <br>

        <p class="t-mid login-alt">Already have an account? <a href="/login">Log In</a> instead.</p>

    </div>

</main>

<script>
    function signup(btn){
        let btnState = Tools.ButtonStateSwapper(btn);
        let formInvalid = false;
        btnState.setLoading();

        let requestObject = {
            CSRF_Token : Tools.csrfToken()
        };

        $('label.input input').toArray().reduce(function(result, item) {
            result[item.name] = item.value;
            if (item.validity.valid === false) formInvalid = true;
            return result;
        }, requestObject);

        if (formInvalid){
            btnState.reset();
            return;
        }

        $.post("/api/do-signup", requestObject , res => {
            btnState.reset();
            if (res.isSuccessful){

                let modal = new XModal(res.message, res.title, XModalType.INFORMATION);
                modal.open({
                    okayBtn : {
                        text : "Go to Sign in",
                        type: XModalButtonType.PRIMARY,
                        callback : ()=>{
                            location.href = "/";
                        }
                    }
                });

            }
            else{
                let kind = res.payload.kind;
                let modal = new XModal(res.message, res.title, XModalType.ALERT);

                if (kind === "UAEXISTS"){
                    modal.open({
                        okayBtn : {
                            text : "Try again",
                            type: XModalButtonType.CANCEL
                        },
                        signInBtn : {
                            text : "Log in instead",
                            type : XModalButtonType.PRIMARY,
                            callback : ()=>{
                                location.href = "/login"
                            }
                        }
                    });
                }
                else{
                    modal.open({
                        okayBtn : {
                            text : "Okay",
                            type: XModalButtonType.PRIMARY
                        }
                    });
                }
            }
        });

    }
</script>

<%- include('../partials/footer') %>
</body>
</html>