<%
let n = `${user.firstName} ${user.lastName}`;
if (n.length > 14) n = `@${user.username}`;
%>

<aside>
    <ul>
        <li> <a href="/account" title="View account"> <i class="far fa-user-circle"></i> <%= n %></a></li>
        <li> <hr> </li>
        <li class="h"> Tools </li>
        <li> <a href="/help"> <i class="fas fa-life-ring"></i> Help</a> </li>
    </ul>
</aside>