<%
let n = `${user.firstName} ${user.lastName}`;
if (n.length > 14) n = `@${user.username}`;
%>

<aside>
    <ul>
        <li> <a href="/account"> <i class="far fa-user-circle"></i> <%= n %></a></li>
        <li> <a href="/home"> <i class="fas fa-parachute-box"></i> My Stocks</a> </li>
        <li> <a href="/market"> <i class="fas fa-shopping-basket"></i> Market</a> </li>
        <li> <hr> </li>
        <li class="h"> Info </li>
        <li> <a href="/about"><i class="fas fa-boxes"></i> About</a> </li>
        <li> <a href="/help"> <i class="fas fa-life-ring"></i> Help</a> </li>
    </ul>
</aside>