<div class="grid x3col">

    <label class="input no-push-bottom">
        <span>Reference:</span>
        <input type="text" id="transaction-ref" class="no-border" readonly value="ad">
    </label>

    <label class="input no-push-bottom">
        <span>Local Currency:</span>
        <input type="text" id="local-currency" class="no-border" readonly value="USD">
    </label>

    <label class="input no-push-bottom">
        <span>Vendor:</span>
        <input type="text" class="no-border" readonly value="AlphaDeck">
    </label>

    <label class="input no-push-bottom">
        <span>Date:</span>
        <input type="text" class="no-border" readonly value="<%= (new Date()).toDateString() %>">
    </label>

    <label class="input no-push-bottom">
        <span>Stock Currency:</span>
        <input type="text" id="stock-currency" class="no-border" readonly value="USD">
    </label>

    <label class="input no-push-bottom">
        <span>Post purchase balance:</span>
        <input type="text" id="post-balance" class="no-border" readonly value="1900">
    </label>

</div>

<hr class="mini">

<br>

<div class="transaction-card">

    <h4 class="quiet">Order summary</h4>

    <div class="order">

        <label class="o-item s">
            <span class="o-key">Price per share:</span>
            <span class="o-val" id="price-info"> <ins itemid="local-currency"></ins> <ins itemid="price-per-share"></ins> </span>
        </label>

        <label class="o-item s">
            <span class="o-key">Charge per share:</span>
            <span class="o-val"><ins itemid="local-currency"></ins> <ins itemid="charge-per-share"></ins></span>
        </label>

        <hr>

        <label class="o-item s">
            <span class="o-key">Share quantity:</span>
            <span class="o-val">&times; <input type="number" id="share-quantity" value="10" required min="1"></span>
        </label>

        <hr>

        <label class="o-item s">
            <span class="o-key">Tax:</span>
            <span class="o-val"><ins itemid="local-currency"></ins> <ins itemid="total-tax"></ins></span>
        </label>

        <label class="o-item s">
            <span class="o-key">Cost <ins class="quiet">(ex Tax)</ins>:</span>
            <span class="o-val"><ins itemid="local-currency"></ins> <ins itemid="cost"></ins></span>
        </label>

        <label class="o-item">
            <span class="o-key">Grand Total:</span>
            <span class="o-val"><ins itemid="local-currency"></ins> <ins itemid="total-price"></ins></span>
        </label>

        <br>

        <button id="purchase-btn" class="primary filled" onclick="purchase(this)">PURCHASE</button>

    </div>

</div>

<br>

<script src="/public/scripts/page_buy_stock.js"></script>