<footer>
    <span>AlphaDeck &copy; 2020</span>
    <span class="hint">Made by <a href="https://darylcecile.net" target="_blank">Daryl</a>, Powered by <a href="https://alphavantage.co" rel="noopener" target="_blank">alphavantage.co</a></span>
</footer>