<!--suppress ALL -->
<nav>

    <ul>
        <li> <a href="/"> <img src="/public/images/logo.svg" alt="logo" class="brand"> AlphaDeck</a> </li>
    </ul>

    <ul>
        <li> <a href="/logout">Sign Out</a> </li>
    </ul>

</nav>