<div class="grid-x3">

    <label class="input">
        <span>Vendor:</span>
        <input type="text" readonly value="AlphaDeck">
    </label>

    <label class="input">
        <span>Date:</span>
        <input type="text" readonly value="<%= (new Date()).toDateString() %>">
    </label>

    <label class="input">
        <span>Reference:</span>
        <input type="text" readonly value="-">
    </label>

</div>

<hr class="mini">