@import "__variables";

main {
	min-height: 100vh;

	&.fix-height{
		height: 100vh;
	}

	&.center{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&.shadow{
		.smooth-shadow()
	}

	&.content{
		display: flex;
		flex-direction: row;
		padding-top: 58px;
	}

	&.padded{
		padding: 2rem;
	}

}

aside{
	width: 10rem;
	font-size: 0.7rem;
	color: @title-color;
	font-weight: 400;
	letter-spacing: 1px;
	border-right: 1px solid rgba(@light-border-color, 0.5);
	padding: 1rem 0;

	ul{
		list-style: none;
		margin:0;
		padding: 1rem;

		li{
			margin-bottom: 1rem;

			&.h{
				text-transform: uppercase;
				font-size: 0.62rem;
				color: @light-border-color;
			}

			a{
				color: @title-color;
				text-decoration: none;
				padding: 6px 10px;
				border-radius: @general-rounded-border;
				display: block;

				&:visited{
					color: @title-color;
				}

				&:hover{
					color: @select-background;
					background: @info-background-gray;
				}

				&:focus{
					outline: none;
					.thick-input-outline();
				}
			}

		}
	}

}

section{
	flex:1;
	display: flex;
	padding-top: 46px;
	position: relative;
	flex-direction: row;

	&.no-padd{
		padding-top: 0;
	}

	&.center{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&.column{
		flex-direction: column;
	}

	&.d-block{
		display: block;
	}

	&.scrollable{
		overflow-y: auto;
	}

	.subnav{
		background: @subnav-background;
		color: @title-color;
		padding: 0.6rem 1.2rem;
		position: absolute;
		top:0;
		width: 100%;
		border-bottom: 1px solid rgba(@light-border-color,0.2);

		h4{
			margin:0;
			font-weight: 600;
		}
	}

	.search-list{
		display: flex;
		flex-direction: column;
		width: 17.2rem;
		border-right: 1px solid rgba(@light-border-color, 0.2);

		.result{
			.scrollGradient;
			flex:1;
			overflow-y: auto;
			max-height: calc(100% - 44px);

			.item{
				position: relative;
				padding: 15px;

				h5{
					margin: 0;
					font-size: 0.74rem;
					font-weight: 600;
					letter-spacing: 1px;
				}

				p, span{
					margin:0;
					font-size: 0.7rem;
				}

				span{
					position: absolute;
					right: 15px;
					top: 15px;
					opacity: 0.5;
				}

				&:hover{
					background: rgba(@primary-btn-color, 0.72);
					color: @select-color;
				}

				&.selected{
					background: @primary-btn-color;
					color: @select-color;
				}

			}
		}
	}

	.preview{
		flex: 1;

		&.center{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}
	}

}

.search{
	padding: 0.4rem;
	position: relative;

	input[type="search"]{
		width: 100%;
		padding-left: 26px;

		&:focus + svg{
			color: @title-color;
		}

		&:not(:placeholder-shown) + svg{
			color: @primary-btn-color;
		}
	}

	svg{
		display: block;
		height: 1em;
		position: absolute;
		top: 30%;
		left: 14px;
		color: @light-border-color;
		pointer-events: none;
	}
}

.center-search-input{
	width: 100%;
	padding: 30px 0 20px;
	position: relative;
	z-index: 1;
	display: flex;
	background: rgba(white,0.8);
	justify-content: center;
	backdrop-filter: blur(6px) saturate(90%);

	.search{
		width: 100%;
		max-width: 25rem;
	}
}

div.grid{
	&.x3col{
		grid-template-columns: repeat(3, 1fr);
	}

	&.x4col{
		grid-template-columns: repeat(4, 1fr);
	}

	display: grid;
	grid-gap: 15px;
	grid-auto-rows: minmax(auto, 0);

	flex:1;
	overflow-y: auto;
	//padding: 1rem 1rem 0;
	padding: 1rem;
	max-height: calc(100% - 2.5rem);
	position: relative;

	&.withShadow{
		margin-bottom: 2rem;
		.scrollGradient;
	}

	.item{
		background: white;
		border: 1px solid @light-border-color;
		box-shadow: 0 0 0 0 transparent;
		transition: all .4s;
		border-radius: @general-rounded-border;
		padding: 10px;
		position: relative;
		height: 7.2rem;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h5{ font-size: 1.2rem }
		p { font-size: 0.6rem }
		span { font-size: 0.8rem }

		&[disabled]{
			background: whitesmoke;
			pointer-events: none;
			opacity: 0.8;
		}

		*{
			margin:0;
			text-align: center;
		}

		.stock-mini-info{
			width: 100%;
		}

		.btn-options{
			width: 100%;
			padding: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 30px;
			margin: -20px 0;
			pointer-events: none;
			opacity: 0;
			transition: all .2s;

			button{
				width: 49%;

				&.primary:focus,
				&.primary:hover{
					color: white;
					background: @primary-btn-color;
					border-color: @primary-btn-color;
				}

				&.danger:hover,
				&.danger:focus{
					color: white;
					background: @red;
					border-color: @red;
				}

				&:hover{
					opacity: 1;
				}
			}
		}

		&:hover,
		&:focus-within{
			border-color: transparent;
			.smooth-shadow();

			.btn-options{
				padding: 10px 0 0;
				margin: 0;
				height: 40px;
				pointer-events: auto;
				opacity: 1;
			}
		}
	}

	&:empty{
		display: flex;
		align-items: center;
		justify-content: center;

		&::after{
			font-size: 1.6rem;
			color: rgba(@title-color, 0.5);
		}
	}

	&:not([first_use]):empty::after{
		content: 'Enter a search query to begin';
	}

	&[first_use]:empty::after{
		content: 'Not found'
	}
}

div.center-content{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	&.col,
	.col{
		flex-direction: column;
	}

}

div.wall{
	position: fixed;
	z-index: 50;
	width:100%;
	height: 100%;
	top:0;
	left:0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(white,0.4);
	color: @text-color;
	backdrop-filter: blur(0);
	opacity: 0;
	pointer-events: none;
	transition: all .3s;
	.gpu;

	&.built{
		opacity: 1;
		backdrop-filter: blur(8px);
		pointer-events: auto;
	}

	i{
		font-size: 3rem;
	}

	h5{
		margin: 1rem 0 0;
		font-size: 1rem;
		color: inherit;
	}
}

.transaction-card{
	border-radius: @general-rounded-border;
	border: 1px solid black;
	max-width: 28rem;
	width: calc(100% - 3rem);
	margin: 15px auto;
	padding: 1rem 2rem;

	h4{
		margin:0;
		text-align: center
	}

	> *{
		padding: 15px;
	}
}

.order{
	display: flex;
	flex-direction: column;

	.o-item{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&.s{
			font-size: 0.8rem;
			margin: 0.25rem 0;
		}

		&:not(.s){
			margin-bottom: .5rem;
		}

		.o-key{

		}

		.o-val{
			&.hint-showing{
				*{
					opacity: 0.6;
					pointer-events: none;
				}
			}
		}

	}

}