@import "__variables";

main {
	min-height: 100vh;

	&.center{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&.shadow{
		.smooth-shadow()
	}

}

div.center-content{

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	&.col,
	.col{
		flex-direction: column;
	}

}