.thick-input-outline {
  box-shadow: 0 0 0 2px rgba(95, 136, 252, 0.84);
}
.gpu {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000;
  perspective: 1000px;
}
.scrollGradient {
  background: linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(146, 146, 146, 0.5), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(146, 146, 146, 0.5), rgba(0, 0, 0, 0)) 0 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 16px, 100% 16px, 100% 8px, 100% 8px;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 12rem;
  background: #323232;
  color: #646464;
  z-index: -1;
}
footer span {
  transition: all 0.4s;
}
footer span:first-child {
  margin-bottom: 5px;
}
footer span:nth-child(2) {
  opacity: 0.6;
}
footer:hover span:first-child {
  color: white;
}
footer:hover span:nth-child(2) {
  opacity: 1;
}
footer a {
  text-decoration: none;
}
