@import "__variables";

div.auth-box{
	display: flex;
	flex-direction: column;
	width: 21rem;

	.heading{
		text-align: center;
		//font-size: 4rem;
	}

	&.extra-padd{
		padding: 5rem 0;
	}
}

label.input{
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;

	span{
		font-size: 0.74rem;
		font-weight: 300;
		color: @label-color;
		margin-bottom: 5px;
	}
}

.login-alt{
	font-size: 0.7rem;
}