.gpu {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000;
  perspective: 1000px;
}
:host {
  position: fixed;
  transform: scale(0.7) translateX(-50%) translateY(-50%);
  transform-origin: left bottom;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 0 1.5px 2.2px rgba(95, 136, 252, 0.07), 0 3.6px 5.3px rgba(95, 136, 252, 0.05), 0 6.8px 10px rgba(95, 136, 252, 0.042), 0 12.1px 17.9px rgba(95, 136, 252, 0.035), 0 22.6px 33.4px rgba(95, 136, 252, 0.028), 0 54px 80px rgba(95, 136, 252, 0.02);
  width: 450px;
  max-width: 90%;
  min-height: 100px;
  height: fit-content;
  left: 50vw;
  top: 30vh;
  padding: 25px;
  box-sizing: border-box !important;
  background: white;
  z-index: 99999;
  will-change: transition, top, opacity;
  transition: top 0.3s ease, opacity 0.3s, transform 0.3s;
}
:host h3 {
  font-family: sans-serif;
  color: #b4b4b8;
  margin-top: 0;
  letter-spacing: 1.2px;
}
@media (max-width: 500px) {
  :host h3 {
    text-align: center;
  }
}
:host p {
  font-family: sans-serif;
  color: #282828;
  letter-spacing: 1.4px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 1.6rem;
}
@media (max-width: 500px) {
  :host p {
    text-align: center;
  }
}
:host div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  :host div {
    justify-content: center;
  }
}
:host div button {
  width: 130px;
  padding: 3px 0;
  margin-left: 15px;
  height: 32px;
  border-radius: 3px;
  border: 0;
  background: #5f88fc;
  color: white;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  box-shadow: 0 1.5px 2.2px rgba(0, 0, 0, 0.07), 0 3.6px 5.3px rgba(0, 0, 0, 0.05), 0 6.8px 10px rgba(0, 0, 0, 0.042), 0 12.1px 17.9px rgba(0, 0, 0, 0.035), 0 22.6px 33.4px rgba(0, 0, 0, 0.028), 0 54px 80px rgba(0, 0, 0, 0.02);
  transition: all 0.3s;
}
:host div button:hover {
  opacity: 0.8;
  cursor: pointer;
}
:host([open="true"]) {
  opacity: 1;
  transform: scale(1) translateX(-50%) translateY(-50%);
  top: 50vh;
}
