.thick-input-outline {
  box-shadow: 0 0 0 2px rgba(95, 136, 252, 0.84);
}
.gpu {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000;
  perspective: 1000px;
}
.scrollGradient {
  background: linear-gradient(#ffffff 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(146, 146, 146, 0.5), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(146, 146, 146, 0.5), rgba(0, 0, 0, 0)) 0 100%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 16px, 100% 16px, 100% 8px, 100% 8px;
}
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Noto Sans'), local('NotoSans'), url(https://fonts.gstatic.com/s/notosans/v9/o-0IIpQlx3QUlC5A4PNr5TRF.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}
button {
  background: transparent;
  color: #646464;
  border: 1px solid #646464;
  border-radius: 3px;
  padding: 6px 9px;
  transition: all 0.3s;
  font-size: 0.74rem;
  font-weight: 300;
}
button.filled {
  color: white;
  background: #646464;
  border-color: #646464;
}
button.primary {
  color: #5f88fc;
  border-color: #5f88fc;
}
button.primary.filled {
  color: white;
  background: #5f88fc;
  border-color: #5f88fc;
}
button.danger {
  color: #c83453;
  border-color: #c83453;
}
button.danger.filled {
  color: white;
  background: #c83453;
  border-color: #c83453;
}
button.auto-mid {
  margin: 8px auto 5px;
  max-width: 12rem;
}
button:focus {
  outline: none;
  opacity: 0.85;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
a {
  color: #5f88fc;
}
a:visited,
a:hover {
  color: #28a7ff;
}
label.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  position: relative;
}
label.input span {
  font-size: 0.74rem;
  font-weight: 300;
  color: #484848;
  margin-bottom: 5px;
}
label.input input + i {
  position: absolute;
  right: 0.4rem;
  top: 1.74rem;
  font-size: 0.92em;
  pointer-events: none;
}
label.input input + i.fa-exclamation-triangle {
  color: orange;
  opacity: 0;
  transition: all 0.3s;
}
label.input input + i + .err-msg {
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 1.15rem;
  font-weight: 500;
  background: #353c4a;
  color: #d8dcdf;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 3px;
  box-shadow: 0 1.5px 2.2px rgba(0, 0, 0, 0.07), 0 3.6px 5.3px rgba(0, 0, 0, 0.05), 0 6.8px 10px rgba(0, 0, 0, 0.042), 0 12.1px 17.9px rgba(0, 0, 0, 0.035), 0 22.6px 33.4px rgba(0, 0, 0, 0.028), 0 54px 80px rgba(0, 0, 0, 0.02);
  opacity: 0;
  transition: all 0.3s;
}
label.input input:invalid + i {
  opacity: 1;
}
label.input input:focus:invalid + i + .err-msg {
  left: calc(100% + 1rem);
  opacity: 1;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"] {
  border-radius: 3px;
  color: #282828;
  border: 2px solid #dedfe3;
  padding: 6px 7.2px;
  font-size: 0.72rem;
}
input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="search"]:invalid {
  border: 2px solid #c83453;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus {
  outline: none;
  border: 2px solid rgba(95, 136, 252, 0.84);
}
span.hint {
  font-style: italic;
  color: #b4b4b8;
  font-size: 0.6rem;
}
p {
  font-size: 0.6rem;
}
.t-mid {
  text-align: center;
}
img.brand-img {
  width: 6.5rem;
  padding: 3% 2.5% 3% 3.5%;
  border-radius: 12%;
  box-shadow: 0 1.5px 2.2px rgba(0, 0, 0, 0.07), 0 3.6px 5.3px rgba(0, 0, 0, 0.05), 0 6.8px 10px rgba(0, 0, 0, 0.042), 0 12.1px 17.9px rgba(0, 0, 0, 0.035), 0 22.6px 33.4px rgba(0, 0, 0, 0.028), 0 54px 80px rgba(0, 0, 0, 0.02);
}
img.brand-img.simple {
  width: 4rem;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}
img.brand {
  height: 2.8rem;
}
.quiet {
  color: rgba(0, 0, 0, 0.2);
}
.muted {
  color: rgba(0, 0, 0, 0.5);
}
hr {
  border: 0 transparent;
  border-bottom: 1px solid rgba(222, 223, 227, 0.3);
  width: 100%;
}
hr.mini {
  width: 80%;
}
hr.push {
  margin: 2.46rem 1.2rem;
}
:host {
  position: fixed;
  transform: scale(0.7) translateX(-50%) translateY(-50%);
  transform-origin: left bottom;
  opacity: 0;
  border-radius: 3px;
  box-shadow: 0 1.5px 2.2px rgba(95, 136, 252, 0.07), 0 3.6px 5.3px rgba(95, 136, 252, 0.05), 0 6.8px 10px rgba(95, 136, 252, 0.042), 0 12.1px 17.9px rgba(95, 136, 252, 0.035), 0 22.6px 33.4px rgba(95, 136, 252, 0.028), 0 54px 80px rgba(95, 136, 252, 0.02);
  width: 450px;
  max-width: 90%;
  min-height: 100px;
  height: fit-content;
  left: 50vw;
  top: 30vh;
  padding: 25px;
  box-sizing: border-box !important;
  background: white;
  z-index: 99999;
  will-change: transition, top, opacity;
  transition: top 0.3s ease, opacity 0.3s, transform 0.3s;
}
:host h3 {
  font-family: sans-serif;
  color: #b4b4b8;
  margin-top: 0;
  letter-spacing: 1.2px;
}
@media (max-width: 500px) {
  :host h3 {
    text-align: center;
  }
}
:host p {
  font-family: sans-serif;
  color: #282828;
  letter-spacing: 1.5px;
  line-height: 1.4;
  font-weight: 300;
  margin-bottom: 1.6rem;
  font-size: 0.85rem;
}
@media (max-width: 500px) {
  :host p {
    text-align: center;
  }
}
:host div {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 500px) {
  :host div {
    justify-content: center;
  }
}
:host div button {
  min-width: 130px;
  margin-left: 15px;
  padding: 6px 9px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
:host([open="true"]) {
  opacity: 1;
  transform: scale(1) translateX(-50%) translateY(-50%);
  top: 50vh;
}
